::after,
::before {
  box-sizing: inherit;
}

body {
  font-size: 2.083vw;
}

.content-wrapper {
  background-color: #ffffff;
}

.link {
  color: #000000;
  text-decoration: none;
}

.same-list {
  margin: 0;
  padding: 0;
  list-style: none;
}



.logo {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 0.938vw;
  line-height: 1.4;
  font-weight: 700;
}

.banner h1,
.banner__wrapper-text p {
  margin: 0;
  color: #2b2b2b;
}

.banner h1 {
  line-height: 2.76vw;
  font-size: 2.604vw;
  font-weight: 700;
}

.banner__wrapper-text p {
  line-height: 1.4;
  font-weight: 500;
  font-size: 1.198vw;
}

.proper-d h2 {
  font-size: 0.833vw;
  line-height: 1.4;
  text-align: center;
  color: #000000;
  font-weight: 700;
}

.proper-d__item p {
  font-size: 1.042vw;
  line-height: 1.4;
  font-weight: 500;
}

.main-footer {
  background-color: #27ae60;
}
